* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: rgb(29, 221, 189);
  --bgDark: rgb(12, 12, 12);
  --white: rgb(250, 250, 250);
  --secondary: rgb(0, 59, 50);
  --bgLight: rgb(190, 181, 181);
}

#welcome-section {
  background-color: var(--bgDark);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #c5cae9;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  z-index: 1;
}

nav a {
  font-size: 20px;
  margin: 2%;
}
nav a:hover {
  color: hsl(160, 100%, 90%);
}
main section {
  margin: 20px 10% 20px 10%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}
.project-tile {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-tile img {
  width: 250px;
}
main {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

#main h1 {
  text-align: center;
  color: var(--secondary);
}
main button {
  text-align: center;
  border-radius: 5px;
  border-color: #03a9f4;
  cursor: pointer;
  box-shadow: none;
  width: auto;
  align-self: center;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}
main a,
main a:hover,
main a:active,
main a:focus,
main a:visited {
  text-decoration: none;
  color: #03a9f4;
}
main section div a:hover {
  border-radius: 10px;
  box-shadow: -5px 5px 20px, 5px -5px 20px, 5px 5px 20px, -5px -5px 20px;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  color: black;
  text-decoration: none;
}
main section div a img {
  border: solid;
  border-color: #03a9f4;
  border-width: 2px;
  border-radius: 10px;
  height: 120px;
  width: auto;
  overflow: hidden;
}

footer {
  background-color: #a7ffeb;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
footer div a {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  overflow: hidden;
}
footer div a:hover {
  border-radius: 50%;
  box-shadow: 100px;
}
footer div a img {
  border-radius: 50%;
}
footer div p {
  text-align: center;
}

@media (max-width: 800px) {
  nav {
    background-color: #c5cae9;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1;
  }
  main section {
    margin: 20px 10% 20px 10%;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    justify-items: center;
  }
  footer {
    background-color: #a7ffeb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
